*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
}

#navigation-bar {
  width: 100%;
}
#navigation-bar .container-fluid > div:first-of-type {
  flex-grow: 2;
  gap: 1rem;
}
nav:last-of-type {
  width: 100%;
}
#navigation-bar .container-fluid > div:last-of-type {
  gap: 0.5rem;
}
#navigation-bar .container-fluid > div:first-of-type > ul {
  gap: 1rem;
}
#navigation-bar .container-fluid > div > img {
  width: 100px;
}
.bg-black {
  background-color: black !important;
}
.container-fluid .dropdown img {
  width: 30px;
}
footer > div > div {
  font-size: 0.5rem;
}
@media screen and (min-width: 786px) {
  footer > div {
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  footer > div {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  footer > div {
    width: 75%;
  }
}

header img {
  width: 100px;
}
#avatar_column {
  align-self: self-start;
  width: 25%;
}
#avatar_column span {
  font-size: 0.6rem;
  bottom: 0;
  left: 25px;
  padding: 5px;
}
#profile-settings-div {
  width: 65%;
}
#maturity-settings-st-button {
  background-color: #333333;
  text-transform: uppercase;
  font-weight: lighter;
}
#save-cancel-settings-div > button {
  width: 30%;
}

.set-width {
  width: 95% !important;
}

@media screen and (min-width: 768px) {
  .set-width {
    width: 75% !important;
  }
}
#all-footer button {
  font-size: 0.8rem;
  padding: 0.2rem;
}
@media screen and (min-width: 992px) {
  .set-width {
    width: 50% !important;
  }
}
